<footer
        class="text-center text-lg-start text-white bg-dark"
<!--            style="background-color: #3e4551"-->

<!-- Grid container -->
<div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">
                    <img src="/img/navLogo.png" class="img-fluid" alt="logo">
                </h5>

                <p>
                    <strong>Our Mission Statement:</strong>
                    <br>
                    We are an established and respected steel fabricator and erector dedicated to our clients, vendors, and employees; providing quality, performance and value through Christ centered principles.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center">
                <h5 class="text-uppercase">Main</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="text-white">About</a>
                    </li>
                    <li>
                        <a href="/contact" class="text-white">Contact</a>
                    </li>
                    <li>
                        <a href="/arizona" class="text-white">Projects</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="mailto:stephenbrooks714@gmail.com" class="text-white">tech support</a>
                    </li>
                    <li>
                        <a href="mailto:info@metal-weld.com" class="text-white">sales support</a>
                    </li>
                    <li>
                        <a href="mailto:info@metal-weld.com" class="text-white">project support</a>
                    </li>
                    <li>
                        <a href="https://www.yellowpages.com/peoria-az/mip/metal-weld-specialties-inc-6589598"
                           target="_blank"
                           class="text-white">
                            We're On Yelp <i class="fas fa-map-marked-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="mb-4" />

    <!-- Section: Social media -->
    <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="https://www.zoominfo.com/c/metal--weld-specialties-inc/57640614"
                target="_blank"
                role="button"
        ><img src="/img/zoomInfo.png" class="img-fluid" style="width: 45px; height: 35px; border-radius: 50%;" alt="yellow pages"></a>

        <!-- Twitter -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="https://www.mapquest.com/us/arizona/metal-weld-specialties-402288189"
                target="_blank"
                role="button"
        ><img src="/img/mapQuest.png" class="img-fluid" style="width: 45px; height: 35px; border-radius: 50%;" alt="yellow pages"></a>

        <!-- Google -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="https://metal-weld.netlify.app/img/yellowPages.png"
                target="_blank"
                role="button"
        ><img src="/img/yellowPages.png" class="img-fluid" style="width: 45px; height: 35px; border-radius: 50%;" alt="yellow pages"></a>

        <!-- Linkedin -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/"
                target="_blank"
                role="button"
        ><img src="/img/linkedin.png" class="img-fluid" style="width: 45px; height: 35px; border-radius: 50%;" alt="linkedin profile"></a>

        <!-- Github -->
        <a
                class="btn btn-outline-light btn-floating m-1"
                href="https://utracstest.azdot.gov/FirmProfile?bidderId=16152"
                target="_blank"
                role="button"
        >
            <img src="/img/azutracs.png" class="img-fluid" style="width: 45px; height: 35px; border-radius: 50%;" alt="az-utracs profile">
        </a>
    </section>
    <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
>
    © 2023 Copyright:
    <a class="text-white" href="#"
    >MetalWeldSpecialties.com</a
    >
</div>
<!-- Copyright -->
</footer>