<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/navLogo.png" height="65" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <% if(loggedIn){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                <% } %>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/arizona">Arizona</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/nevada">Nevada</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/california">California</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/hawaii">Hawaii</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
                <% if(loggedIn){ %>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="/staff/logout">
                            Logout
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="/staffAccount">
                            Login
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="/registerStaff">
                            SignUp
                        </a>
                    </li>
                <% } %>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.linkedin.com/company/metal-weld-specialties-inc-/about/" target="_blank">
                        <img src="/img/linkedin.png" class="img-fluid" style="width: 25px; height: 25px;" alt="linkedin profile">
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://metal-weld.netlify.app/img/yellowPages.png" target="_blank">
                        <img src="/img/yellowPages.png" class="img-fluid" style="width: 25px; height: 25px;" alt="linkedin profile">
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="https://www.mapquest.com/us/arizona/metal-weld-specialties-402288189" target="_blank">
                        <img src="/img/mapQuest.png" class="img-fluid" style="width: 25px; height: 25px;" alt="linkedin profile">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>