<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') -%>
    <style>
        .img-position {
            position: absolute;
            top: 140px;
            left: 40px;
        }
        .logoBrandSize {
            height: 140px;
        }
        .introFit {
            padding-top: 430px;
        }
        .card.hover-shadow-light, .hover-shadow-light {
            transition: all .5s ease-in-out;
        }

        .card.hover-shadow-light:hover, .hover-shadow-light:hover {
            box-shadow: 0 8px 17px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.05);
            transition: all .5s ease-in-out;
        }
    </style>
</head>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Section: Design Block-->
<!-- Container for demo purpose -->
<div class="container-fluid my-5 py-5">
    <!-- Container for demo purpose only -->
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/hawaii">Hawaii Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project Data</li>
            </ol>
        </nav>

        <!-- Section: Design Block -->
        <section class="mb-8">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <p class="text-muted mb-4">***** { Single Page Project Info (LOADED FROM DATABASE} *****</p>
                    <p class="h3 mb-4">Projects We're Proud Of - Team Work Makes The Dream Work</p>
                    <p class="mb-4 mb-md-5 mb-lg-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta explicabo.</p>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img3.jpg" class="w-100 rounded-5 mb-4 shadow-3-soft" alt="Sample image"
                                 data-mdb-toggle="animation"
                                 data-mdb-animation="fade-in"
                                 data-mdb-animation-start="onScroll"
                                 data-mdb-animation-on-scroll="repeat"
                                 data-mdb-animation-show-on-load="false"
                                 data-mdb-animation-duration="2000"
                                 data-mdb-animation-delay="100">
                            <div class="row">
                                <div class="col-md-9 offset-md-3">
                                    <img src=" https://mdbootstrap.com/img/Photos/Others/img4.jpg" class="w-100 rounded-5 mb-4 mb-md-0 shadow-3-soft" alt="Sample image"
                                         data-mdb-toggle="animation"
                                         data-mdb-animation="fade-in"
                                         data-mdb-animation-start="onScroll"
                                         data-mdb-animation-on-scroll="repeat"
                                         data-mdb-animation-show-on-load="false"
                                         data-mdb-animation-duration="2000"
                                         data-mdb-animation-delay="500">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="https://mdbootstrap.com/img/Photos/Others/img8.jpg" class="w-100 rounded-5 mt-md-5 shadow-3-soft" alt="Sample image"
                                 data-mdb-toggle="animation"
                                 data-mdb-animation="fade-in"
                                 data-mdb-animation-start="onScroll"
                                 data-mdb-animation-on-scroll="repeat"
                                 data-mdb-animation-show-on-load="false"
                                 data-mdb-animation-duration="2000"
                                 data-mdb-animation-delay="300">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

    </div>
    <!-- Container for demo purpose only -->
</div>
<!-- Container for demo purpose -->

<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->
<!-- End your project here-->
<%- include('partials/scripts') -%>
</body>

</html>
