<div class="container-fluid my-5 py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10 text-center">
            <h1 class="display-5 mb-0">Admin Projects Page</h1>
            <p>
                Here you can create new projects and delete old ones. If you have any trouble with logging in or need assistance, please contact the
                <a href="mailto:stephenbrooks714@gmail.com" class="text-decoration-underline fw-bold">Developer</a>.
            </p>
            <div class="row mt-5">
                <div class="col-md-6 p-4">
                    <h3>Create Arizona Office Project</h3>
                    <form action="/store/arizonaProject" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Title</label>
                                <input type="text" id="title" name="title" class="form-outline">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Location</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="image" class="form-label">Project Image</label>
                                <input type="file" id="image" name="image" class="form-outline" accept="image/*">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="dateFinished" class="form-label">Date completed</label>
                                <input type="text" id="dateFinished" name="dateFinished" class="form-outline">
                            </div>
                        </div>
                        <div>
                            <label for="details" class="form-label"></label>
                            <textarea name="details" id="details" class="form-outline" rows="7"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">submit project details</button> <button type="reset" class="btn btn-warning">clear info</button>
                    </form>
                </div>
                <div class="col-md-6 p-4">
                    <h3>Create Nevada Office Project</h3>
                    <form action="/store/nevadaProject" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Title</label>
                                <input type="text" id="title" name="title" class="form-outline">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Location</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="image" class="form-label">Project Image</label>
                                <input type="file" id="image" name="image" class="form-outline" accept="image/*">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="location" class="form-label">Date completed</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div>
                            <label for="details" class="form-label"></label>
                            <textarea name="details" id="details" class="form-outline" rows="7"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">submit project details</button> <button type="reset" class="btn btn-warning">clear info</button>
                    </form>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6 p-4">
                    <h3>Create California Office Project</h3>
                    <form action="/store/californiaProject" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Title</label>
                                <input type="text" id="title" name="title" class="form-outline">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Location</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="image" class="form-label">Project Image</label>
                                <input type="file" id="image" name="image" class="form-outline" accept="image/*">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="location" class="form-label">Date completed</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div>
                            <label for="details" class="form-label"></label>
                            <textarea name="details" id="details" class="form-outline" rows="7"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">submit project details</button> <button type="reset" class="btn btn-warning">clear info</button>
                    </form>
                </div>

                <div class="col-md-6 p-4">
                    <h3>Create Hawaii Office Project</h3>
                    <form action="/store/hawaiiProject" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Title</label>
                                <input type="text" id="title" name="title" class="form-outline">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="title" class="form-label">Project Location</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 p-2">
                                <label for="image" class="form-label">Project Image</label>
                                <input type="file" id="image" name="image" class="form-outline" accept="image/*">
                            </div>
                            <div class="col-md-6 p-2">
                                <label for="location" class="form-label">Date completed</label>
                                <input type="text" id="location" name="location" class="form-outline">
                            </div>
                        </div>
                        <div>
                            <label for="details" class="form-label"></label>
                            <textarea name="details" id="details" class="form-outline" rows="7"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">submit project details</button> <button type="reset" class="btn btn-warning">clear info</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>