<!--Section: Design Block-->
<section class="text-center">

    <h3 class="mb-5">Our Experience Meets Your Needs Head On</h3>

    <p class="mb-5 mx-auto w-responsive">
        When It comes to metal fabrication, we have done it for 60 plus years. So, when you have a project in mind and only want the most trusted and reliable service in town,
        give us a call.
    </p>

    <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
            <i class="fas fa-cubes fa-3x text-primary mt-3"></i>
            <h5 class="card-title my-4">Best Experience</h5>
            <p class="card-text mb-3">
                Hands down, we are among the highest quality of metal welding and fabrication at our office locations.
            </p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <i class="fas fa-users fa-3x text-primary mt-3"></i>
            <h5 class="card-title my-4">Economic Focused</h5>
            <p class="card-text mb-3">
                Not only do we build up our community, we also get involved. We ensure that our structures last for many years.
            </p>
        </div>
        <div class="col-md-4 mb-0">
            <i class="fas fa-tools fa-3x text-primary mt-3"></i>
            <h5 class="card-title my-4">Work & Trades</h5>
            <p class="card-text mb-3">
                All of our workers and offices are licensed in the work that they do and highly experienced in providing quality.
            </p>
        </div>
    </div>

</section>
<!--Section: Design Block-->