<div class="row">
    <div class="col-lg-6 col-md-12 p-3">
        <div>
            <div class="text-center">
                <img
                        class="img-fluid"
                        src="/img/60years.png"
                        style="width: 150px; height: 150px;"
                />
                <h2 class="display-4 fw-bold">How We Have Helped Others</h2>
                <p class="text-muted">
                    Metal-Weld Specialties, Inc. is located in Peoria Arizona and has been family owned and operated since 1962. We adhere to the highest quality standards in the industry. Our team of professionals deliver high quality, complex steel projects to owners, general contractors and developers in Arizona, California, Hawaii and Nevada.

                </p>
                <a
                        class="btn btn-primary btn-lg"
                        href="/arizona"
                        role="button"
                >View Projects</a
                >
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 p-3">
        <img src="https://envato-shoebox-0.imgix.net/ae4b/d1e3-c9a0-412d-8cd7-149eedf06c65/20221111_171945.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=800&s=ec0a81cc9c72cf1ee7a7178ff7e62043" class="img-fluid rounded shadow-lg" alt="">
    </div>
</div>