<section class="container">
    <!-- Container for demo purpose -->
    <div class="shadow-5 p-2">

        <!--Section: Design Block-->
        <section class="text-center">

            <h3 class="mb-5">Contact us</h3>

            <p class="mb-5 mx-auto w-responsive">
                Our staff welcomes you to come in person to handle any matter that you may have. But if for some reason you can't make it, please send us a message with
                our secure form below or give us a call.
            </p>

            <form id="contactForm" data-sb-form-api-token="ce4667e2-cd0b-48d0-9079-7718abc36d5f">
                <div class="form-floating mb-3">
                    <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                    <label for="emailAddress">Email Address</label>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="yourName" type="text" placeholder="Your Name" data-sb-validations="required" />
                    <label for="yourName">Your Name</label>
                    <div class="invalid-feedback" data-sb-feedback="yourName:required">Your Name is required.</div>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="YourPosition" aria-label="YourPosition">
                        <option value="admin">admin</option>
                        <option value="manager">manager</option>
                        <option value="business owner">business owner</option>
                        <option value="project coordinator">project coordinator</option>
                    </select>
                    <label for="YourPosition">Your Position</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
                    <label for="message">Message</label>
                    <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
                </div>
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        <p>To activate this form, sign up at</p>
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
                </div>
            </form>
            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        </section>
        <!--Section: Design Block-->

    </div>
    <!-- Container for demo purpose -->
</section>