<section itemprop="Metal-Weld Specialties">
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100"
         style="background-image: url('https://www.bjc1994.com/bjchi/wp-content/uploads/2016/01/STEEL-FABRICATION-1.jpg');">
        <img src="/img/60years.png" class="img-fluid img-position rounded-circle logoBrandSize" alt="img">
        <div class="mask" style="background-color: rgba(63,81,181,.1);">
            <div class="container-fluid introFit" style="padding-left: 85px;">
                <div class="row" itemid="company intro">
                    <div class="col-md-12">
                        <div class="text-white">
                            <h1 class="display-4 font-weight-bold text-uppercase my-4">Metal-Weld Specialties</h1>
                            <hr class="mb-4" style="opacity: 1; width: 200px;">
                            <h3 class="fw-bold mb-3"> Fabricating & Erecting for America's most recognized corporations since 1961.</h3>
                            <a href="#" class="btn btn-black btn-lg">Contact Us</a> <a href="#" class="btn btn-white btn-lg">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro -->
</section>